.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
}

.TableContainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 750px;
    overflow: auto;
}

.Table {
    position: relative !important;
    overflow-y: scroll;
}

.Cell {
    background-color: antiquewhite !important;
}

.CellWhite {
    background-color: white !important;
}

.ButtonContainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.Button {
    color:#ffcc33 !important;
    background-color: white !important;
}

.Button:hover {
    background-color: #404040 !important;
}

.Title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #ffcc33;
    text-align: center;
    margin-bottom: 10px;
}

.Icon {
    cursor: pointer;
}

@media (max-width:600px) {
    .TableContainer {
        height: 400px;
    }
}